[Unit]
Description=Docker Compose Loader
After=docker.service
Wants=docker.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/docker-compose-loader.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
